/* Global Styles */
html, body {
  background-color: #0E0C15;
  color: white;
}

/* Button Styles */
.raised-button button.priBT {
  color: white;
  background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%);
  border: none;
  cursor: pointer;
}
button.fullScrenBt { 
  background-color:none !important;
}

/* Specific Class Styles */
.questionOptions button.priBt {
  /* More specific, takes priority over button.priBt */
  background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%) !important;
}

div.cogLogSvg {
  display: none;
}

h2.landMediumH {
  color: #BCC3D7 !important;
  font-weight: bold;
}

.c_instrucDesc {
  color: #CED0D4;
}

/* Media Query */
@media (min-width: 960px) {
  h2.landMediumH {
    color: #FFFFFF;
  }

  p.c_instrucDesc {
    color: #CED0D4;
  }

  button.priBt {
    background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%) !important;
    color: white !important ;
  }
  .raised-button button.priBT {
  color: white;
  background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%);
  border: none;
  cursor: pointer;
  }
  button.fullScrenBt { 
  background-color:none !important;
}
  
}


