.questionOptions button.priBt {
   background: linear-gradient(to right,#805AF5 25%,#CD99FF 75%);
}
div.cogLogSvg {
    display : none;
}
h2.landMediumH {
    color:#BCC3D7;
    font-style:bold;
}
button.priBt {
    color:white;
    background:linear-gradient(to right,#805AF5 25%,#CD99FF 75%);
}
