/* Global Styles */
html, body {
  background-color: #0E0C15;
}

/* Button Styles */
.raised-button button.priBT {
  background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%);
  border: none;
  cursor: pointer;
}
.desktop .trainingInstrucciontPage button.fullScrenBt,
.desktop .trainingTaskContainer button.fullScrenBt,
.desktop .assessmentTaskContainer button.priBt.fullScrenBt {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit !important;
}

/* Specific Class Styles */
.questionOptions button.priBt {
  /* More specific, takes priority over button.priBt */
  background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%) !important;
}

div.cogLogSvg {
  display: none;
}

h2.landMediumH {
  color: #BCC3D7 !important;
  font-weight: bold;
}

.c_instrucDesc {
  color: #CED0D4;
}

/* Media Query */
@media (min-width: 960px) {
  h2.landMediumH {
    color: #FFFFFF;
  }
  p.c_instrucDesc {
    color: #CED0D4;
  }
  .raised-button button.priBT {
  background: linear-gradient(to right, #805AF5 25%, #CD99FF 75%);
  border: none;
  }
.desktop .trainingInstrucciontPage button.fullScrenBt,.desktop .trainingTaskContainer button.fullScrenBt,.desktop .assessmentTaskContainer button.priBt.fullScrenBt {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit !important;
  cursor: pointer;
  }
}


